[Desktop Entry]
Categories=Application;Utility;Calendar;
Comment=Calendar is a date tool.
Encoding=UTF-8
Exec=dde-calendar
Icon=dde-calendar
Name=Deepin Calendar
StartupNotify=false
Terminal=false
Type=Application
X-MultipleArgs=false

# Translations:
# Do not manually modify!
Comment[am_ET]=ቀን መቁጠሪያ
Comment[ar]=التقويم هو أداة عرض التاريخ .
Comment[ast]=Calendariu ye una ferramienta de dates.
Comment[az]=Kalendar tarix alətidir
Comment[bg]=Календарът е програма за срещи.
Comment[cs]=Kalendář je nástroj pro práci s datem.
Comment[da]=Kalender er et datoværktøj.
Comment[de]=Kalender ist ein Datumswerkzeug.
Comment[eo]=Kalendaro estas datilo.
Comment[es]=Calendario es una herramienta de gestión de fechas.
Comment[es_419]=Calendario es un almanaque.
Comment[fr]=Simple calendrier.
Comment[gl_ES]=O calendario é unha ferramenta de datas.
Comment[hr]=Kalendar je alat za rad sa vremenom.
Comment[hu]=Naptár alkalmazás
Comment[id]=Kalender adalah sebuah peralatan tanggal.
Comment[it]=Calendar è un tool calendario.  Localizzazione italiana a cura di Carofano Massimo Antonio.
Comment[ja]=カレンダーは日時ツールです。
Comment[ko]=Calendar는 일정 관리도구입니다.
Comment[ku_IQ]=ساڵنامە ئامرازێکی بەروارە
Comment[lt]=Kalendorius yra datų įrankis.
Comment[ml]=കലണ്ടർ ഒരു തീയതി ഉപകരണം ആണ് 
Comment[ms]=Kalendar merupakan alat tarikh.
Comment[nl]=Kalender is een hulpmiddel voor het bijhouden van afspraken.
Comment[pl]=Kalendarz to narzędzie zarządzania czasem.
Comment[pt]=O Calendário é uma ferramenta de agendamento.
Comment[pt_BR]=Calendário é uma ferramenta de data.
Comment[ru]=Календарь, является приложением для планирования Вашего времени.
Comment[sk]=Kalendár je dátumový nástroj.
Comment[sl]=Koledar je orodje za urejanje datumov.
Comment[sr]=Календар је алат за датуме.
Comment[sv]=Kalender är ett datumverktyg.
Comment[ta]=அட்டவணை தேதி கருவியாகும்
Comment[tr]=Takvim, bir tarih aracıdır.
Comment[ug]=كالىندار ئۇ ۋاقىت قۇرالى
Comment[uk]=Календар
Comment[vi]=Lịch là một công cụ ngày tháng.
Comment[zh_CN]=日历是一款查看日期的小工具。
Comment[zh_TW]=簡易日期顯示工具
Name[am_ET]=ዲፕኢን ቀን መቁጠሪያ
Name[ar]=تقويم ديبين
Name[ast]=Calendariu Deepin
Name[az]=Deepin Kalendarı
Name[bg]=Deepin календар
Name[cs]=Kalendář
Name[da]=Deepin kalender
Name[de]=Deepin Kalender
Name[el]=Ημερολόγιο Deepin
Name[eo]=Deepin kalendaro
Name[es]=Calendario Deepin
Name[es_419]=Calendario Deepin
Name[fr]=Deepin Calendrier
Name[gl_ES]=Calendario do Deepin
Name[hr]=Deepin kalendar
Name[hu]=Deepin Naptár
Name[id]=Kalender Deepin
Name[it]=Deepin Calendar
Name[ja]=Deepin カレンダー
Name[ko]=Deepin Calendar
Name[ku_IQ]=ساڵنامەی Deepin
Name[lt]=Deepin kalendorius
Name[ml]=ഡീപിൻ കലണ്ടർ
Name[ms]=Kalendar Deepin
Name[nl]=Deepin Kalender
Name[pl]=Kalendarz Deepin
Name[pt]=Calendário Deepin
Name[pt_BR]=Deepin Calendar
Name[ru]=Календарь Deepin
Name[sk]=Deepin Kalendár
Name[sl]=Koledar Deepin
Name[sr]=Дипин календар
Name[sv]=Deepin kalender
Name[ta]=டீபின் நாள்காட்டி
Name[tr]=Deepin Takvim
Name[ug]=Deepin كالىندارى
Name[uk]=Календар Deepin
Name[vi]=Lịch Deepin
Name[zh_CN]=深度日历
Name[zh_TW]=Deepin 日曆

